body {
  padding-top: 5rem;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}


.upload-template{
	padding: 3rem 1.5rem;
	text-align: left;
}

.recipe-template {
	padding: 3rem 1.5rem;
	text-align: left;
}

.profile-button {
	margin-left: 1%;
}

.recipe-title{
	text-align:center;
}

.recipe-item{
	margin-left: 10%;
}


.bold{
	font-weight: bold;
}

.fieldlabel{
	font-weight: bold;
	font-size: large;
}

.step-label{
	font-size: normal;
}
.addbutton{
	margin: 5px;
}

.addform{
	margin-top: 5px;